{% extends 'base.html' %}
{% load widget_tweaks %}
{% load staticfiles %}

{% block title %}Enter New Password{% endblock %}

{% block content %}
    <div class="page-wrapper login">
        <div class="page-content--bge5">
            <div class="container">
                <div class="login-wrap">
                    <div class="login-content">
                        <div class="login-logo">
                            <a href="#">
                                <img src="{% static 'images/icon/logo.png' %}" alt="CoolAdmin">
                            </a>
                        </div>
                        <h5 class="pb-2 display-5">Please enter your new password twice so we can verify you typed it in correctly.</h5>
                        <div class="login-form">
                            <form method="post">
                                {% csrf_token %}
                                <div class="form-group">
                                    <h5 class="pb-4 display-5" style="color: red">{{ form.new_password1.errors }}</h5>
                                    <label>New password:</label>
                                    {{ form.new_password1 |add_class:"form-control" }}
                                </div>
                                <div class="form-group">
                                    <h5 class="pb-4 display-5" style="color: red">{{ form.new_password2.errors }}</h5>
                                    <label>Confirm password:</label>
                                    {{ form.new_password2 |add_class:"form-control" }}
                                </div>
                                <button class="au-btn au-btn--block au-btn--green m-b-20" type="submit">change my password</button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
