{% extends 'base.html' %}
{% load widget_tweaks %}
{% load staticfiles %}

{% block title %}Password Reset Sent{% endblock %}

{% block content %}
    <div class="page-wrapper login">
        <div class="page-content--bge5">
            <div class="container">
                <div class="login-wrap">
                    <div class="login-content">
                        <div class="login-logo">
                            <a href="#">
                                <img src="{% static 'images/icon/logo.png' %}" alt="CoolAdmin">
                            </a>
                        </div>
                        <div class="class-body">
                            <div class="alert alert-success" role="alert">
                                <h4 class="alert-heading">Password Reset Sent!</h4>
                                <p>We've emailed you instructions for setting your password, if an account exists with
                                    the email you entered. You should receive them shortly.</p>
                                <hr>
                                <p class="mb-0">If you don't receive an email, please make sure you've entered the
                                    address you registered with, and check your spam folder.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
