{% extends 'base.html' %}
{% load widget_tweaks %}
{% load staticfiles %}

{% block title %}Password Reset Complete{% endblock %}

{% block content %}
    <div class="page-wrapper login">
        <div class="page-content--bge5">
            <div class="container">
                <div class="login-wrap">
                    <div class="login-content">
                        <div class="login-logo">
                            <a href="#">
                                <img src="{% static 'images/icon/logo.png' %}" alt="CoolAdmin">
                            </a>
                        </div>
                        <div class="class-body">
                            <div class="alert alert-success" role="alert">
                                <h4 class="alert-heading">Password Reset Complete</h4>
                                <p>Your password has been set. You may go ahead and log in now.</p>
                                <hr>
                                <p class="mb-0">
                                    <a href="{% url 'login' %}">Log in</a>
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
